<div class="container" *ngIf="!isLoginOrSignup">
  <form [formGroup]="formLogin" >
    <h3>Inicio de sesion</h3>
    <span>¿No tienes una cuenta? <a (click)="signup()">Crea una aqui</a></span>

    <div class="row">
      <label for="" class="form-label">Nombre de usuario</label>
      <input formControlName="username" type="text" class="form-control">
    </div>
    <div class="row">
      <label for="" class="form-label">Contrasena</label>
      <input formControlName="password" type="text" class="form-control">
    </div>
    <div class="row">
      <button class="btn btn-primary" (click)="login()">Iniciar Sesion</button>
    </div>
  </form>
</div>

<app-signup class="signUp" *ngIf="isLoginOrSignup" (emitterCloseFormSignup)="receibeEmit($event)"></app-signup>